**Задание 1**

    Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [90]:
data = pd.read_csv('ratings.csv')
result = data.query('rating == {}'.format('5.0'))['movieId'].value_counts()[:1]
result

318    153
Name: movieId, dtype: int64

**Задание 2**

    По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [169]:
data = pd.read_csv('power.csv')
result = data[(data.year >= 2005) & (data.year <= 2010) & ((data.category == 4) | (data.category == 12) | (data.category == 21)) &
                ((data.country == 'Latvia') | (data.country == 'Estonia') | (data.country == 'Lithuania')) & (data.quantity >= 0)]['quantity']
sum(result)

240580.0

**Задание 3**

    Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

    Примеры страниц (необязательно брать именно эти):

    https://fortrader.org/quotes
    https://www.finanz.ru/valyuty/v-realnom-vremeni

In [198]:
table = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni')

**Задание 4**

   Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
    - оценка 2 и меньше - низкий рейтинг
    - оценка 4 и меньше - средний рейтинг
    - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [171]:
data = pd.read_csv('ratings.csv')

In [200]:
low_rate = data[data.rating <= 2.0]
middle_rate = data[(data.rating > 2.0) & (data.rating <= 4.0)]
high_rate = data[data.rating > 4.0]
low_rate.loc[:, 'class'] = "low"
middle_rate.loc[:, 'class'] = "middle"
high_rate.loc[:, 'class'] = "high"

In [204]:
new_data = pd.concat((low_rate, middle_rate, high_rate))
new_data

        userId  movieId  rating   timestamp class
76           1     1219     2.0   964983393   low
143          1     2253     2.0   964981775   low
148          1     2338     2.0   964983546   low
152          1     2389     2.0   964983094   low
170          1     2617     2.0   964982588   low
...        ...      ...     ...         ...   ...
100821     610   160527     4.5  1479544998  high
100829     610   164179     5.0  1493845631  high
100832     610   168248     5.0  1493850091  high
100833     610   168250     5.0  1494273047  high
100834     610   168252     5.0  1493846352  high

[100836 rows x 5 columns]

**Задание 5**

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

   Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

    geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }

Результат классификации запишите в отдельный столбец region.

**Задание 6**

   Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1.В переменную years запишите список из всех годов с 1950 по 2010.

2.Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

   - для каждой строки пройдите по всем годам списка years
   - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
   - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
   
3.Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4.Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [3]:
data = pd.read_csv('movies.csv')
rate = pd.read_csv('ratings.csv')

In [4]:
years = [str(i+1950) for i in range(61)]
print(years)

['1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010']

In [38]:
def production_year(s):
    for i in years:
        if i in s:
            return i
    return '1900'

In [39]:
result = data.merge(rate).groupby('title').mean().reset_index()[['title', 'rating']]
result['year'] = result.apply(production_year, axis=1)
result

                                          title    rating  year
0                                    '71 (2014)  4.000000  1900
1       'Hellboy': The Seeds of Creation (2004)  4.000000  1900
2                        'Round Midnight (1986)  3.500000  1900
3                           'Salem's Lot (2004)  5.000000  1900
4                     'Til There Was You (1997)  4.000000  1900
...                                         ...       ...   ...
9714                            eXistenZ (1999)  3.863636  1900
9715                                 xXx (2002)  2.770833  1900
9716             xXx: State of the Union (2005)  2.000000  1900
9717                      ¡Three Amigos! (1986)  3.134615  1900
9718  À nous la liberté (Freedom for Us) (1931)  1.000000  1900

[9719 rows x 3 columns]